# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [154]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [155]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(r"C:\Users\ycola\Venture-Funding-with-Deep-Learning\applicants_data.csv")

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [156]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [157]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.copy()
applicant_data_df.drop(["EIN","NAME"], axis = 1, inplace = True)

# Review the DataFrame
applicant_data_df.tail()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [158]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [159]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [160]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [161]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
        encoded_data,
        columns = enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

C:\Users\ycola\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [162]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
numerical_df = applicant_data_df.drop(columns = categorical_variables)
encoded_df = pd.concat([numerical_df, encoded_df], axis = 1)
        
# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [163]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [198]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=["IS_SUCCESSFUL"])
# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [199]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test =train_test_split(X, y, random_state = 1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [200]:
# Create a StandardScaler instance
scaler = StandardScaler()
# Fit the scaler to the features training dataset
X_scaler =scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [201]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [202]:
# Define the number of neurons in the output layer
number_output_neurons =2

In [203]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =   (number_input_features + 1) // 2 

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [204]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [205]:
# Create the Sequential model instance
nn = Sequential()

In [206]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [207]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [208]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=2, activation="relu"))

In [209]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_11"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_44 (Dense)            (None, 58)                6786

 dense_45 (Dense)            (None, 29)                1711

 dense_46 (Dense)            (None, 2)                 60

=================================================================
Total params: 8,557
Trainable params: 8,557
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [210]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [211]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 1.3163 - accuracy: 0.5189
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 1.0011 - accuracy: 0.5056
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8685 - accuracy: 0.4619
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7713 - accuracy: 0.4604
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8002 - accuracy: 0.4654
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7732 - accuracy: 0.4722
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7817 - accuracy: 0.4720
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7572 - accuracy: 0.5216
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7294 - accuracy: 0.5230
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7134 - accuracy: 0.4832
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6999 - accuracy: 0.4753
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6942 - accuracy: 0.4920
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6840 - accuracy: 0.5056
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6808 - accuracy: 0.4977
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6416 - accuracy: 0.5087
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6314 - accuracy: 0.5007
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6482 - accuracy: 0.4918
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6303 - accuracy: 0.5236
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6282 - accuracy: 0.4891
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6138 - accuracy: 0.4579
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6159 - accuracy: 0.5054
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6121 - accuracy: 0.4983
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6238 - accuracy: 0.4539
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6098 - accuracy: 0.4292
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6110 - accuracy: 0.5227
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6033 - accuracy: 0.4900
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5949 - accuracy: 0.4831
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5925 - accuracy: 0.4357
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5961 - accuracy: 0.4779
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6013 - accuracy: 0.4755
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6042 - accuracy: 0.4713
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5926 - accuracy: 0.4956
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6006 - accuracy: 0.5203
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5966 - accuracy: 0.4472
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6029 - accuracy: 0.4873
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5913 - accuracy: 0.5628
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5893 - accuracy: 0.4856
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5957 - accuracy: 0.5102
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6005 - accuracy: 0.4800
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5878 - accuracy: 0.5372
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5957 - accuracy: 0.5080
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5959 - accuracy: 0.5108
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5997 - accuracy: 0.4549
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5842 - accuracy: 0.4751
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5813 - accuracy: 0.5027
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5852 - accuracy: 0.5351
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5912 - accuracy: 0.5218
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6017 - accuracy: 0.4829
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5804 - accuracy: 0.5071
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5809 - accuracy: 0.4905

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [212]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6023 - accuracy: 0.4790 - 258ms/epoch - 962us/step
Loss: 0.6023242473602295, Accuracy: 0.4789504408836365

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [221]:
# Set the model's file path
file_path =Path("Resources/Alpahabetsoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [180]:
# Define the the number of inputs (features) to the model
X = X.drop(columns = [ "STATUS"]).values
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [181]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 8

In [182]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + 1) // 2 
# Review the number of hidden nodes in the first layer
hidden_nodes_layer2_A1 = (hidden_nodes_layer1 + 1) // 2

In [183]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [184]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="sigmoid"))
nn_A1.add(Dense(units=hidden_nodes_layer2_A1, input_dim=number_input_features, activation="sigmoid"))


# Output layer
nn_A1.add(Dense(units=1, activation="sigmoid"))


nn_A1.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_38 (Dense)            (None, 58)                6786

 dense_39 (Dense)            (None, 29)                1711

 dense_40 (Dense)            (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

In [185]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [186]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5958 - accuracy: 0.7049
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5712 - accuracy: 0.7249
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5664 - accuracy: 0.7261
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5612 - accuracy: 0.7280
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5565 - accuracy: 0.7285
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5534 - accuracy: 0.7302
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5509 - accuracy: 0.7301
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5493 - accuracy: 0.7309
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7313
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5478 - accuracy: 0.7319
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7317
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7333
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7325
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7339
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7328
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7338
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7336
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7341
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7338
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7338
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7342
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7350
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7354
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7350
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7362
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7359
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7365
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7359
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7367
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7372
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7364
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7367
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7374
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7375
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7376
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7373
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7382
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7377
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7388
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7390
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7379
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7380
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7385
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7379
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7392
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7389
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7393
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7387
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7391
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7397

#### Alternative Model 2

In [187]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [188]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [189]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 =(number_input_features + 1) // 3

hidden_nodes_layer2_A2 = (hidden_nodes_layer1_A2 + 1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2
hidden_nodes_layer2_A2

20

In [190]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [191]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))

nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation="relu"))

# Output layer
nn_A2.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_10"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_41 (Dense)            (None, 39)                4563

 dense_42 (Dense)            (None, 20)                800

 dense_43 (Dense)            (None, 1)                 21

=================================================================
Total params: 5,384
Trainable params: 5,384
Non-trainable params: 0
_________________________________________________________________

In [192]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [193]:
# Fit the model
fit_model = nn_A2.fit(X_train_scaled, y_train, epochs=10)

Epoch 1/10
804/804 [==============================] - 2s 1ms/step - loss: 0.5806 - accuracy: 0.7145
Epoch 2/10
804/804 [==============================] - 1s 1ms/step - loss: 0.5549 - accuracy: 0.7275
Epoch 3/10
804/804 [==============================] - 1s 1ms/step - loss: 0.5510 - accuracy: 0.7292
Epoch 4/10
804/804 [==============================] - 1s 1ms/step - loss: 0.5489 - accuracy: 0.7317
Epoch 5/10
804/804 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7320
Epoch 6/10
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7332
Epoch 7/10
804/804 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7334
Epoch 8/10
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7332
Epoch 9/10
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7345
Epoch 10/10
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7339

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [194]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn.evaluate(X_test_scaled,y_test,verbose=2)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.6180 - accuracy: 0.3490 - 247ms/epoch - 922us/step
Loss: 0.6180406212806702, Accuracy: 0.34903791546821594

In [195]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn_A1.evaluate(X_test_scaled,y_test,verbose=2)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5489 - accuracy: 0.7300 - 295ms/epoch - 1ms/step
Loss: 0.5488898754119873, Accuracy: 0.7300291657447815

In [196]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled,y_test,verbose=2)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5523 - accuracy: 0.7320 - 296ms/epoch - 1ms/step
Loss: 0.5523316860198975, Accuracy: 0.7320116758346558

### Step 3: Save each of your alternative models as an HDF5 file.

In [222]:
# Set the file path for the first alternative model
file_path = Path("C:/Users/ycola/Venture-Funding-with-Deep-Learning/Resources/AlphabetSoup.h5",encoding="UTF-8")

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [223]:
# Set the file path for the second alternative model
file_path2 = Path("C:/Users/ycola/Venture-Funding-with-Deep-Learning/Resources/AlphabetSoup2.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path2)